html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1 {
  color:violet;
  font-size: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}